@charset "UTF-8";
@import
	"reset.scss";
// f
html{
	font-size: 10px;
}
body{
	font-size: 12px;
}

//发现首页
.fxCon{
	width:100%;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	.scroller{
		position: absolute;
		z-index: 1;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		width: 100%;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
	};
	.swiper-container {
        width: 100%;
		min-height: 100px;
		.swiper-pagination-bullet{
			opacity: 0.3;
			background: #fff;
		};
		.swiper-pagination-bullet-active{
			opacity: 0.8;
			background: #fff;
		};
		.swiper-pagination{
			display:none;
		}
  	}
  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      a{
      	display:block;
      	width:100%;
      	height:100%;
				vertical-align: middle;
      };
	  img{
		position: relative;
		width:100%;
		vertical-align: middle;
	  }
  }

	.entrance{
		width:100%;
		height:70px;
		display: -webkit-box;
		display: -ms-box;
		display: -moz-box;
		display: box;
		font-size: 1.2rem;
		color: #666;
		text-align: center;
		border-bottom: 1px solid #f5f5fb;
		.item{
			position: relative;
			-webkit-box-flex:1;
			-moz-box-flex:1;
			-ms-box-flex:1;
			box-flex:1;
			padding:15px;
			span{
				display: block;
				text-align:center;
				height: 22px;
			};
			.msg{
				line-height: 2;
			}
		};
		.item1 img{
			width:20.5px;
			height:16.5px;
			margin-top:4px;
		};
		.item2 img{
			width:15px;
			height:22px;
		};
		.item3 img{
			width:20px;
			height:19px;
			margin-top:3px;
		};
	}
	.hotsList{
		text-align: center;
	    border-bottom: 1px solid #f5f5fb;
	    padding-left: 5px;
	    padding-right: 5px;
	    font-size: 0;
		padding-top:10px;
		padding-bottom: 10px;
		.item{
			position: relative;
		    text-align: center;
		    display: inline-block;
		    width: 33.333%;
		    font-size: 0;
		    max-height:68px;
			.itemCon{
				width:90%;
				position: relative;
				margin:0 auto;
				max-height: 68px;
			};
			img{
				display: block;
			    margin: auto;
			    width: 100%;
			    max-height: 68px;
			};
			.msg{
				display: block;
				position: absolute;
				width:100%;
				height:100%;
				top:0px;
				left:0px;
				border-radius: 5px;
				font-size:1rem;
				color:#fff;
				z-index: 20;
				a{
					display: table;
					margin: auto;
					width:100%;
					height: 100%;
					text-decoration: none;
					span{
						display: table-cell;
						vertical-align: middle;
						padding-top:2px;
					}
				};

				i{
				  display: block;
					width:100%;
					line-height: 16px;
					font-size:1.1rem;
					color:#fff;
				};
				.name{
					// margin-top:15px;
					font-weight: bold;
				};
				.price{
					font-size:1rem;
				}
			};
			.shade{
				background: url(../images/index/shade.png) no-repeat;
				background-size:cover;
				opacity: 0.4;
				z-index: 10;
			}
		}
	}
	.cmsList{
		//width:90%;
		padding-left:20px;
		box-sizing:border-box;
		margin:auto;
		.title{
			font-size:1.6rem;
			margin-top:15px;
			width:100%;
			color:#666;
		};
		.listCon{
			width:100%;
			.item{
				width:100%;
				padding-top:15px;
				padding-bottom: 15px;
				border-top:1px solid #f5f5fb;
				height:100%;
				overflow:hidden;
				display: table;
				box-sizing:border-box;
				a{
					text-decoration:none;
					display:table-row;
					width:100%;
				};
				.img{
					width:95px;
					max-width: 95px;
					display: table-cell;
					vertical-align: middle;
					position: relative;
			        *{
			            vertical-align: middle;
			        };
					img{
						width:100%;
					};
					.movieIcon{
						display:block;
						width:24px;
						height:24px;
						margin:auto;
						background: url("../images/index/movieIcon.png");
						position: absolute;
				    left: 50%;
				    top: 50%;
				    background-size: cover;
				    margin-left: -12px;
				    margin-top: -12px;
					}
				};
				.msg{
					//max-width: 240px;
					display: table-cell;
					vertical-align: middle;
	        *{
	            vertical-align: middle;
	        };
					.tm{
						font-size: 1.5rem;
						margin-left:15px;
						color: #333;
						line-height: 1.4;
						padding-right:20px;
						.tip{
							color:#fc5e5d;
							font-size: 0.9rem;
							margin-left:4px;
							position:relative;
							top:-5px;
						};
					};
					.bm{
						margin-left:15px;
						font-size: 1.1rem;
						color:#999;
						line-height: 1.5;
						position: relative;
						.tit{
							line-height:1.5;

							display:inline-block;
						};
						.date{
							margin-left:14px;
						};
						.tip{
							color:#fc5e5d;
							font-size: 0.9rem;
							margin-left:4px;
						};
						.favor{
							position: absolute;
							right:20px;
							.rIcon{
								background:url("../images/index/readCon.png") no-repeat;
								width:16px;
								height:9px;
								background-size:contain;
								display:inline-block;
							};
							.rNum{
								font-size: 1rem;
								display:inline-block;
								margin-right: 10px;
								margin-top: 3px;
							};
							.icon{
								background:url("../images/index/nofavor.png") no-repeat;
								width:11px;
								height:9px;
								background-size:contain;
								display:inline-block;
								margin-top:2px;
							};
							.selected{
								background:url("../images/index/favor.png") no-repeat;
								background-size:contain;
							};
							.num{
								font-size: 1rem;
								display:inline-block;
								margin-top: 2px;
							}
						}

					}
				}
			};
			.firstItem{
				border-top:none;
			};
		}
	}
	.loadMore{
		width:100%;
		height:42px;
		text-align: center;
		border-top:1px solid #f5f5fb;
		border-bottom:1px solid #f5f5fb;
		span{
			display: block;
			font-size: 1.3rem;
			color:#666;
			line-height: 42px;
		}
	}
	.loadEnd{
		height:30px;
	};
	.lb{
		width:100%;
		height:44px;
	}
}
